html {
  position: relative;
  min-height: 100%;
}
.rbody{
  
  margin:0;
   padding:0;
  min-height: 100%;
  background-color: black;
  background-size: cover;
}
.rr{
  color:  #41FF00;
}
#wrap{
  font-family: 'Play', sans-serif;
	margin-bottom: 15%;
}
#footer{
    color: white;
  	position: absolute;
	 text-align: center;
	 width: 100%;
	 bottom: 0;
}
#footer a{
  
  color:  #41FF00;
}
.titles{
  color: white;
  
}
.tiny-con{
  padding: 10px;
  
}

.aligned-box{
  text-align: center;
}
.img-game{
  
  height: 500;
  width: 400;
}

.message-box{
  height: 60px;
}
