<!DOCTYPE html>
<html>
  <head>
    <title>Riddiculous riddle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" type="text/css" />
     <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
      <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Welcome to Riddiculous Riddle!</a>
        <a class="btn btn-primary" href="#">Homepage</a>
      </div>
    </nav>
          <!-- Masthead -->
        <header class="masthead text-white text-center" style="background-image: url('../static/img/The-Singleton-Approach1.jpg')" >
      <div class="overlay"></div>
      <div class="container">
      <div class="row">   

            
              {% block content %}
              {% endblock %}
   
      </div>
      </div>
    </header>
  

      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</html>