<!DOCTYPE html>
<html>
  <head>
    <title>Riddiculous riddle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" type="text/css" />
     <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
      <!-- Navigation -->
      <body class="rbody">
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Riddiculous Riddle!</a>
        <a class="btn btn-primary" href="#">Homepage</a>
      </div>
    </nav>
   
      <div class="container">   

            
              {% block content %}
              {% endblock %}
   
    
</div>
   
      </div>
      <footer class="footer titles">
        <div class="container">
          <h5>The Riddiculous Riddle Game</h5>
          <div class="row align-items-end justify-content-start">
           <div class="col-3"><span>Contact</span></div>
           <div class="col-3"><span>Credits</span></div>
           <div class="col-3"><span>Join us</span></div>
          <div class="col-3"><span>Other websites</span></div>
          <div class="col-4"><p>Created by<br>KajaMiko<br>kajaths@gmail.com</p></div>
        </div>
      </div>
    </footer>
   
  

      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>