<!DOCTYPE html>
<html>
  <head>
    <title>Ridiculous riddle</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/worldwide.png"/>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" type="text/css" />
     <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>
      <!-- Navigation -->
      <body class="rbody">
        <div id="wrap">
    <nav class="navbar navbar-light bg-dark static-top">
      <div class="container">
        <a class="rr" href="/"><h2>Ridiculous Riddle</h2></a>
        <a class="btn btn-primary" href="{{ url_for('leaderboard') }}"><span class="fas fa-trophy"> Leaderboard</a>
      </div>
    </nav>
   
      <div class="container">   

            
              {% block content %}
              {% endblock %}
   
    
      </div>
   
      </div>
     <footer id="footer" class="navbar-expand-lg">
      <div class="container">
       <div class="row justify-content-around">          
        <div class="col-6">
        <ul class="list-unstyled">
          <li><strong>Contact</strong></li>
          <li>kajaths@gmail.com</li>
          <li><a href="https://github.com/kajamiko">Github</a></li>
        </ul>
      </div>
     
      <div class="col-6 col">
        <ul class="list-unstyled">
          <li><strong>Other Websites</strong></li>
          <li><a href="https://kajamiko.github.io/fabulous_mr_d/">Fabulous Mr D</a></li>
          <li>Yummy!</li>
          <li>Usos Modern</li>
        </ul>
      </div>
    </div>
    <div class="row">
    <div  class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Kajamiko 2018</p>
        <p class="m-0 text-center text-white">Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Worldwide">Worldwide</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
        <div>
      </div>
    </div>
      </div>
    </div> <!-- container -->
    </footer>
   
  

      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    
<script type="text/javascript" src="{{ url_for('static', filename='js/index_validate.js') }}"></script>
    </body>
</html>