{% extends 'base.html' %} {% block content %}

{% if level not in session[username] %}
<div align="center"><h4 class="rr">Your total score so far is {{ score }}</h4></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" align="center">
  <progress value="0" max="10" min="0" id="progressBar"></progress>
  </div>
<div class="col-sm-12 col-md-12 col-lg-12" align="center">
  <span class="rr" id="countdown"></span>
  <span class="rr">s (points)</span>
  </div>
</div>
  {% else %}
 <div align="center"><h4 class="rr">Your total score is {{ score }}</h4></div> 
  {% endif %}
  <div class="row my-5">
  <div class="col-md-6 col-xs-12 media-body my-3">
    <h3 class="my-3 titles">Question nr {{ level }}</h3>
    <h4  class="titles"> {{ riddle_text }}</h4>
    <div class="align-self-end my-3">
     <div class="mt-3 col-md-8 col-sm-10">
      {% if level not in session[username] %}
        <form method="POST" id="answer_form" >
        <input name="answer" type="text" class="form-control form-control-sm" placeholder="Your answer"></input>
      </div>
        <input type="text" name="score_getter" id="score_getter" hidden>
        </input>
      <div class="mt-3 col-md-8 col-sm-10">
        <button type="submit" class="btn btn-block btn-sm btn-warning">Submit</button>
        </form>
        {% else %}
        <div><h4 class="rr"> You've scored {{ session[username][level] }} points for this question!</h4></div>
        {% endif %}
        
      </div>
      </div>
       <div class="row my-2">
    <div class="col-md-6 col-sm-10 message-box aligned-box titles">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
               <h6>{{ message }}</h6>
               {% endfor %}
               
        {% endif %}   
        {% endwith %} 
        </div>
</div>
  </div>
  <div class="col-sm-10 col-md-6">
  <img class="img-fluid img-thumbnail ml-3" style="width:500px"src="{{ url_for('static', filename=riddle_image) }}" alt="Riddle image">
  </div>
</div>
  {% if level in session[username] %}
  <div class="container">
          {% if level|int>1 %}
          <a class="btn btn-outline-success" href="{{ url_for('game', username=username, level=level|int-1, score=score)}}">Back</a>
          {% endif %}
          {% if level|int < 10 %}
          <a class="btn btn-outline-warning" href="{{ url_for('game', username=username, level=level|int+1, score=score)}}">Forward</a>
          {% else %}
          <a class="btn btn-outline-warning" href="{{ url_for('game_over', username=username, score=score)}}">Your certificate</a>
          {% endif %}
          <div class="row my-3">
          <a class="btn btn-outline-danger" href="{{ url_for('restart', username=username) }}">Restart...</a>
          </div>
    </div>
        {% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='js/score_counter.js') }}"></script>
{% endblock %}