{% extends 'base.html' %}
{% block content %}

          <div class="col-xl-9 mx-auto">
         <h1 class="mb-5">That would be riddle text, or image, when I've got it finally</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input name="username" type="username" class="form-control form-control-lg" placeholder="Your answer">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
                  
                </div>
              </div>
            </form>
          </div>

{% endblock %}