{% extends 'base.html' %} {% block content %}

  <progress value="0" max="10" min="0" id="progressBar"></progress>
    <input type="text" name="countdown" id="countdown" disabled> </input>
  <div class="row my-5">
  <div class="col-md-6 col-xs-10 media-body my-3">
    <h5 class="my-3">Media object</h5>
    <p class="titles"> {{ riddle_text }}</p>
    <div class="align-self-end my-3">
     <div class="mt-3 col-md-8 col-sm-10">
         
        <form method="POST" id="answer_form" onsubmit=" get_my_points();">
        <input name="answer" type="text" class="form-control form-control-sm" placeholder="Your answer">
      </div>
        <input type="text" name="score_getter" id="score_getter" hidden>
        </input>
      <div class="mt-3 col-md-8 col-sm-10">
        <button type="submit" class="btn btn-block btn-sm btn-warning">Submit</button>
        </form>
      </div>
      </div>
       <div class="row my-2">
    <div class="col-md-6 col-sm-10 message-box aligned-box titles">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
               <h6>{{ message }}</h6>
               {% endfor %}
               
        {% endif %}   
        {% endwith %} 
        </div>
</div>
  </div>
  <div class="col-sm-10 col-md-6">
  <img class="img-fluid img-thumbnail ml-3" style="width:500px"src="{{ riddle_image }}" alt="Riddle image">
  </div>
</div>
  
 
    
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
 
 var timeleft = 10;
var scoreCounter = setInterval(function(){
   timeleft --;
  if(timeleft >= 0){
    document.getElementById("progressBar").value = timeleft;
    document.getElementById("countdown").value = timeleft;
  }
  if(timeleft < 0)
    clearInterval(scoreCounter);
},1000);

    
function get_my_points(){
    clearTimeout(scoreCounter);
    document.getElementById("score_getter").value = document.getElementById("countdown").value;
}   



</script>
{% endblock %}