{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row ">
    <div class="col-xl-9 mx-auto mt-2">
        <div class="aligned-box"><h2 class="rr">Welcome to Ridiculous Riddle Quiz</h2><h3 class="titles"> An online quiz checking your knowledge about Python and Flask (and speed too)! Have fun playing!</h3></div>
        <div class="col-md-6 mx-auto mt-1 align-self-center">
             <img class="img-fluid img-thumbnail ml-3" style="width:500px" src="../static/img/analysis-blackboard.jpg" alt="Riddle image">
        </div>
          </div>
    </div>
<div class="row">
          <div class="col-xl-9 mx-auto tiny-con mt-2">
         <h3 class="titles aligned-box">Enter your unique username and start the game!</h3>
          </div>
         
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto mt-2">
            <form method="POST" name="username_form" onsubmit="validate();">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2">
                  <input name="username" type="username" class="form-control form-control-lg" placeholder="Username..." autofocus>
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-success">Start!</button>
                </div>
              </div>
            </form>
          </div>
</div>
 <div class="row">
    <div class="col-12 message-box aligned-box titles">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
               {{ message }}
               {% endfor %}
               <p>Please provide a different name, as we don't want to loose your score later on.</p>
        {% endif %}   
        {% endwith %} 
        </div>
</div>
{% endblock %}